<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Password/Bienvenida</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a "Color Password"</h1>
        <p class="tema">Este juego es muy divertido y activará tu mente</p>
        <p class="justificado">Cinco colores, cientos de combinaciones. La máquina reta al jugador a que adivine la secuencia 
            de color oculta. La máquina crea el código e irá dando pistas al otro para que adivine la combinación 
            correcta. Hay que estar muy atento y concentrado. Se indicaran el número de posiciones correctas y 
            colores correctos en cada tirada. Con estas pistas, el jugador tiene hasta 12 intentos para ir 
            afinando la secuencia. ¿Será capaz de adivinarla?
        </p>
        <p class="justificado">
            Elige el nivel de dificultad para iniciar el juego.
        </p>

    <button onclick="seleccionarNivel('principiante')">Principiante</button>
        <button onclick="seleccionarNivel('intermedio')">Intermedio</button>
        <button onclick="seleccionarNivel('avanzado')">Avanzado</button>
    </div>
        <script src="../js/bienvenida.js"></script>
</body>
</html>
