<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterMind - Resultados</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Resultados de la Partida</h1>
        <p id="resultadoFinal"></p>
        
        <button onclick="reiniciarJuego()">Reiniciar Juego</button>
        <button onclick="salirJuego()">Salir</button>
    </div>
    <script src="../js/resultados.js"></script>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterMind - Resultados</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Resultados de la Partida</h1>
        <p id="resultadoFinal"></p>
        <p id="resultadoIntentos"></p>
        <p id="tiempoEmpleado"></p>
        <button onclick="reiniciarJuego()">Reiniciar Juego</button>
        <button onclick="salirJuego()">Salir</button>
    </div>
    <script src="../js/resultados.js"></script>
</body>
</html>
